
.top-bar {
  background-color: #4f5f3a;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  color: #fff;
  padding: 10px 0;
  
}

.topbar-left {
  float: left;
  
}

.topbar-left ul li i {
  margin-right: 8px;
  font-size: 14px;
  color: var(--primary);
  
}

.topbar-left ul li a{
  color: #c3cbdd;
  font-size: 15px;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding-top: 5px;
}


.topbar-left ul li {
  padding-right: 10px;
  margin-right: 10px;
}

.topbar-left ul li{
  display: inline-block;
  position: relative;
}

.topbar-left ul{
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
}

.topbar-center, .topbar-left{
  padding-left: 15px;
  padding-right: 15px;
}



.topbar-left ul li:after{
  position: absolute;
  width: 1px;
  height: 20px;
  background-color: #000;
  right: 0;
  content: "";
  top: 2px;
  opacity: 0.1;
}

/*NAVBAR*/

.navbar{
  background-color: #b4c09a;
}
.navbar-brand, .navbar-nav .nav-link {
  color: #FFFFFF;
}

.navbar-nav .nav-link:hover {
  color: black;
}

.container-clearfix{
  width: 100%;
}


/*BANNER*/

.banner {
  background-image: url('assets/banner.png'); /* Use the actual URL of the banner image */
  background-size: cover;
  background-position: center;
  height: 80vh;
  color: #fff;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.banner h1 {
  font-weight: bold;
  font-size: 3rem;
}

.banner p {
  font-size: 1.5rem;
  margin: 20px 0;
}

.banner .btn {
  padding: 10px 20px;
  font-size: 1.2rem;
  border: 1px solid ;
  background-color: #000;
  color: #FFFFFF;
}

.banner .btn:hover{
  background-color: #fff;
  color: #000;
}


/* Default styles for larger screens */
.navbar {
  background-color: #4B5A3D;
  padding: 20px;
}

.navbar img {
  width: 200px;
  height: auto;
}

.header {
  width: 100%;
  height: auto;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

p {
  font-size: 1.5rem;
  margin-top: 10px;
}



/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar {
      padding: 15px;
  }

  .navbar img {
      width: 180px;
  }

  .header {
      height: auto;
  }

  h1 {
      font-size: 2.5rem;
  }

  p {
      font-size: 1.3rem;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .navbar {
      padding: 10px;
  }

  .navbar img {
      width: 160px;
  }

  .header {
      height: auto;
  }

  h1 {
      font-size: 2rem;
  }

  p {
      font-size: 1.2rem;
  }
}

/* Extra small devices (phones, less than 576px) */
@media only screen and (max-width: 575px) {
  .navbar {
      padding: 8px;
  }

  .navbar img {
      width: 140px;
  }

  .header {
      height: auto;
  }

  h1 {
      font-size: 1.8rem;
      text-align: center;
  }

  p {
      font-size: 1rem;
      text-align: center;
  }
}


/*NAVBAR media query*/
