

/*NAVBAR*/
.navbar{
  background-color: white;
}
.navbar-nav .nav-link {
  font-weight: 500;
  text-transform: uppercase;
}

.navbar-nav{
  column-gap: 40px;
}

.navbar-nav .nav-link:hover {
  color: #ff6347; /* Custom hover color */
}

.nav-link{
  font-size: 18px;
  text-transform: uppercase;
}

/*BANNER*/
.it{
  height:750px;
}

/*ABOUT US*/
#about-us {
  color: #343a40;
  padding: 50px 0;
  margin-top: 40px;
}

#about-us h2 {
  color: #08631f;
  font-weight: 700;
}

#about-us  {
  max-width: 100%;
  height: auto;
}

.img-fluid{
  width: 100%;
  margin-bottom: 80px;
}

.lead{
  font-family:"Inter", sans-serif;
  padding-top: 20px;
}



.head{
  padding-top: 10px;
}