
.top-bar {
  background-color: #4f5f3a;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  color: #fff;
  padding: 11px 0;
}

.topbar-left {
  float: left;
}

.topbar-left ul li i {
  margin-right: 5px;
  font-size: 22px;
  color: var(--primary);
}

.topbar-left ul li a, .topbar-right ul li a {
  color: #c3cbdd;
  font-size: 15px;
  display: flex;
  align-items: center;
}

.topbar-left ul li {
  padding-right: 10px;
  margin-right: 10px;
}

.topbar-left ul li, .topbar-right ul li {
  display: inline-block;
  position: relative;
}

.topbar-left ul, .topbar-right ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
}

.topbar-center, .topbar-left, .topbar-right {
  padding-left: 15px;
  padding-right: 15px;
}

.topbar-right {
  float: right;
}

.topbar-right ul li {
  padding-left: 10px;
  margin-left: 10px;
}

.topbar-right ul li:after {
  right: auto;
  left: 0;
}

.topbar-left ul li:after, .topbar-right ul li:after {
  position: absolute;
  width: 1px;
  height: 20px;
  background-color: #000;
  right: 0;
  content: "";
  top: 2px;
  opacity: 0.1;
}

/*NAVBAR*/

.navbar{
  background-color: #b4c09a;
}
.navbar-brand, .navbar-nav .nav-link {
  color: #FFFFFF;
}

.navbar-nav .nav-link:hover {
  color: black;
}